<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>File Input Example</title>
    </head>
    <body>
        <form method="post" enctype=multipart/form-data>
            Usuário: 
            <br>
            <input type="text" name="username"> 
            <br>
            <br>
            Upload:
            <br>
            <br>
            <input type="file" name="file"> 
          
            <br><br><br>
            <input type="submit" value="Submit">
        </form>

        
    </body>
</html>